

body {
    margin: 0;
    font-size: 100%;
    padding: 10px;
  }
  
  .radiobox__wrapper label:before {
    border-color: #000;
  }
  
  .radiobox__wrapper.checked label:before {
    background-color: #000 !important;
  }
  
  :global .icon {
    color: #7eb4ef;
  }
  
  .my-button {
    font-size: 14px;
  }
  
  .my-button__purple {
    color: #fff;
    border-radius: 2px;
    background: rgb(170, 148, 222);
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
  }
  
  .sub-section-title-wrapper {
    padding: 2%;
  }
  
  .sub-section-title {
    background: #7eb4ef;
    color: #fff;
    padding: 30px;
    font-size: 32px;
  }
  
  .block {
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
    padding: 2%;
  }


  th {
      font-size: 11.5px;
      font-weight: 700;
      /* color: #fff; */
     
  }

  td {
      background-color: #fff;
  }


  

  #register, #login {
    width: 300px;
    border: 1px solid #d6d7da;
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    margin: 100px auto;
  }
  
  form label, form input {
    display: block;
    margin-bottom: 10px;
    width: 50%
  }
  
  form input {
    padding: 10px;
    border: solid 1px #BDC7D8;
    border-radius: 5px;
  }
  
  .button {
    background-color: #C4AFEE;
    border-color: #ce93d8;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
    width: 30%;
    margin: auto;
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }

 